/* App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 960px; /* Kích thước mong muốn */
  margin: 0 auto;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 100%; /* Kích thước mong muốn */
  height: 100%; /* Kích thước mong muốn */
  margin-top: 20px;
}

.video-player {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-player .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd; /* Màu xám nhạt */
}

.video-js.vjs-default-skin {
  width: 100%;
  height: 100%;
}
